.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wave {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.wave-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
}

.logo-container {
  padding-left: 0px;
  display: flex;
  align-items: center;
}

.links-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .wave {
    height: 26px;
    width: 26px;
  }

  .wave-text {
    font-size: 18px;
  }

  .nav-link {
    font-size: 16px;
    margin-left: 16px;
  }
}
